/* APX SIDECART PRO*/

.carrinho-interno,
.carrinho-interno-ajax {
	display: none!important;
}

body {
	margin-right: 0!important;
}

#apx_widgets_worker-sideCartPro-content .head {
	margin: 0;
	padding: 30px;
	text-align: center;
	display: block;
	font-size: 16px;
}

#apx_widgets_worker-sideCartPro-shadow {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	visibility: hidden;
	opacity: 0;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
}

#apx_widgets_worker-sideCartPro {
	position: fixed;
	top: 0;
	right: -320px;
	background: #fff;
	z-index: 99999;
	height: 100vh;
	width: 320px;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: right;
	transition-timing-function: ease;
}

.sideCart-visible #apx_widgets_worker-sideCartPro {
	right: 0;
}

.sideCart-visible #apx_widgets_worker-sideCartPro-shadow {
	opacity: 1;
	visibility: visible;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #f2f2f2;
	box-shadow: 0 5px 5px rgb(0 0 0 / 3%);
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-header button {
	background: transparent;
	border: 0;
	outline: none;
	padding: 0;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-header svg {
	height: 26px;
	width: 26px;
	fill: #000;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-header span {
	font-size: 16px;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content {}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content>.scroll {
	overflow-y: auto;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-header {
	display: none!important;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body {
	margin: 0
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body tr {
	display: grid;
	grid-template-areas: 'image info trash' 'image info trash' 'image quantity value';
	grid-template-columns: calc(20% - 10px) calc(60% - 10px) calc(20% - 10px);
	border-bottom: 1px solid #f2f2f2!important;
	border: 0;
	padding: 15px 15px;
	gap: 15px;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td {
	border: 0;
	padding: 0px;
	width: 100%!important;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(1) {
	grid-area: image
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(2) {
	grid-area: info
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(3) {
	grid-area: value
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(4) {
	grid-area: quantity
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(4) .quantidade {
	width: fit-content;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(5) {
	grid-area: trash;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(5),
#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(5) *,
#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(3),
#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(3) * {
	text-align: right;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(3) * {
	font-size: 12px;
	float: right;
	white-space: nowrap;
	margin: 0;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(3) s {
	font-weight: 300;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(3),
#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body td:nth-child(5) {}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-footer {
	box-shadow: 0 -5px 5px rgb(0 0 0 / 3%);
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-footer tbody,
#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-footer tbody tr,
#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-footer tbody td {
	display: block!important;
	background: transparent;
	border: 0;
	width: 100%;
	padding: 0;
}

#apx_widgets_worker-sideCartPro .tabela-carrinho .produto-info a {
	box-sizing: content-box!important;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	min-height: unset!important;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-footer a {
	background: #2ecc71;
	margin: 15px;
	width: calc(100% - 30px);
	box-sizing: border-box;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

#apx_widgets_worker-sideCartPro .subtotal {
	text-align: center;
}

#apx_widgets_worker-sideCartPro .subtotal strong {
	margin-right: 0;
}

#apx_widgets_worker-sideCartPro .scroll::-webkit-scrollbar {
	width: 4px;
}

#apx_widgets_worker-sideCartPro .scroll::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#apx_widgets_worker-sideCartPro .scroll::-webkit-scrollbar-thumb {
	background: #888;
}

#apx_widgets_worker-sideCartPro .scroll::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#apx_widgets_worker-sideCartPro .table-footer form {}

#apx_widgets_worker-sideCartPro .table-footer form .control-group .control-label {
	width: auto;
	display: block;
	float: none;
	text-align: center;
	background: #f8f8f8;
	padding: 10px 0;
	margin: 10px 0 0 0;
}

#apx_widgets_worker-sideCartPro .table-footer form .control-group b.cor-secundaria:before {
	content: 'Usar cupom de desconto';
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
}

#apx_widgets_worker-sideCartPro .table-footer form .control-group b.cor-secundaria:after {
	content: '\f078';
	font-family: FontAwesome-v4;
	font-size: 10px;
	display: inline-block;
	margin: -3px 0 0 5px;
	vertical-align: middle;
}

#apx_widgets_worker-sideCartPro .table-footer form .control-group b.cor-secundaria {
	font-size: 0;
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	line-height: initial;
}

#apx_widgets_worker-sideCartPro .tabela-carrinho .form-horizontal .controls {
	margin: 0;
	text-align: center;
	padding: 15px 0 0 0px;
	display: none;
}

#apx_widgets_worker-sideCartPro .tabela-carrinho .form-horizontal .controls .input-append {
	display: flex;
	padding: 0 10px;
}

#apx_widgets_worker-sideCartPro .tabela-carrinho .form-horizontal .controls .input-append input {
	-webkit-flex-basis: 0;
	flex-basis: 0;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	flex-grow: 1;
	max-width: 100%;
	margin-right: 10px;
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-footer tbody>tr.possui-cupom,
#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-footer tbody tr .form-horizontal {
	display: none!important
}

#apx_widgets_worker-sideCartPro .cupom-sucesso {
	display: none!important
}

#apx_widgets_worker-sideCartPro .cupom-sucesso>b.cor-secundaria {}

#apx_widgets_worker-sideCartPro .cupom-sucesso>.cupom-codigo {}

#apx_widgets_worker-sideCartPro .cupom-sucesso>a {}

.apx_widgets_worker-aside-shadow {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
}

.sideCart-visible .apx_widgets_worker-aside-shadow {
	opacity: 1;
	visibility: visible;
}

.apx_widgets_worker-sideCartPro-buttonBuy-ajax.loading {
	position: relative;
}

.apx_widgets_worker-sideCartPro-buttonBuy-ajax.loading:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .7);
	border-radius: 4px;
	opacity: 0;
	transition: opacity .5s;
}

.apx_widgets_worker-sideCartPro-buttonBuy-ajax.loading:hover:before {
	opacity: 1
}

.apx_widgets_worker-sideCartPro-buttonBuy-ajax.loading:after {
	content: '';
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border-left: 2px solid #000;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	animation: rotate .3s linear infinite;
	opacity: 0;
	transition: opacity .5s;
}

.apx_widgets_worker-sideCartPro-buttonBuy-ajax.loading:hover:after {
	opacity: 1;
	transition-delay: .25s;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#apx_widgets_worker-sideCartPro #apx_widgets_worker-sideCartPro-content .table-body .excluir a {font-size:14px}

#apx_widgets_worker-sideCartPro {
    height: 100vh;
    max-height: -webkit-fill-available;
}

#theme_sideCart .tabela-carrinho tr,
#theme_sideCart .tabela-carrinho tr td{padding: 0!important;}
#theme_sideCart .tabela-carrinho.table-body tbody tr{padding:15px!important}